# This file is loaded by direnv and used to setup the development environment
# automatically.

# purity
unset NIX_PATH

# add some packages to $PATH
mkdir -p .direnv

nix-build nix/ -A pkgs.bluespec --out-link .direnv/bluespec
PATH_add .direnv/bluespec/bin

nix-build nix/ -A pkgs.openocd --out-link .direnv/openocd
PATH_add .direnv/openocd/bin

nix-build nix/ -A pkgs.gdb --out-link .direnv/gdb
PATH_add .direnv/gdb/bin

nix-build nix/ -A pkgs.gnumake --out-link .direnv/gnumake
PATH_add .direnv/gnumake/bin

nix-build nix/ -A pkgs.yosys --out-link .direnv/yosys
PATH_add .direnv/yosys/bin
