# This file is loaded by direnv and used to setup the development environment
# automatically.

# purity
unset NIX_PATH

# add some packages to $PATH
mkdir -p .direnv

nix-build nix/ -A pkgs.openocd --out-link .direnv/openocd
PATH_add .direnv/openocd/bin

nix-build nix/ -A pkgs.gdb --out-link .direnv/gdb
PATH_add .direnv/gdb/bin
